body {
  background-color: #333738;
  color: #b4b5be;
}

h2 {
  color: #b18742
}

.App {
  padding: 30px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

a:hover {
  color: #e6d5a9;
  cursor: pointer;
}
